@font-face {
    font-family: 'Inconsolata';
    src: url(Inconsolata-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url(Inconsolata-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
    background: white;
}

#main_content {
    padding: 2em;
}

#main_nav {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    font-size: 10pt;
    background: black;
    color: white;
}

#main_nav ul {
    display: inline;
    padding: 0;
}

#main_nav ul li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inherit;
}

#main_nav ul li:first-child {
    padding-left: 1em;
}

.right {
   float: right;
}

/*
#main_nav ul li.right:last-child {
    padding-right: 0;
}
*/

#main_nav a {
    color: inherit;
    text-decoration: none;
}

#main_nav a:hover {
    text-decoration: inherit;
}

#main_footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
    right: 0;
}

#main_footer a {
    color: inherit;
    text-decoration: inherit;
}

a {
    color: gray;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.text-muted {
    color: gray;
}

ul {
    padding-left: 40px;
    list-style: none;
}

ol {
    padding-left: 40px;
}

.flat-list {
    padding-left: 0;
}

.form-field {
    background-color: inherit;
    border: none;
    border-bottom: 1px dashed lightgray;
    font-size: 100%;
    color: gray;
    padding: 0;
    margin-bottom: 1em;
}

#main_content li a:hover {
    color: black;
    text-decoration: inherit;
}

button {
    padding: 0.3em 1em;
    border: none;
    background: none;
    color: black;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
}

.breakdown-sum {
    padding-top: 0.5em;
    padding-left: 1em;
    border-top: 1px solid lightgray;
    display: inline-block;
}

h1 a {
    color: initial;
}

p {
    max-width: 50%;
}