body {
    background: #0E1621;
    color: #ECF3F7;
}

#main_nav {
    color: #0E1621;
    background-color: #ECF3F7;
}

#main_nav a:hover {
    color: gray;
    cursor: pointer;
}

h1 {
    color: #ECF3F7;
}

.form-field {
    border-bottom: 1px dashed #ECF3F7;
    color: #ECF3F7;
}

#main_content li a:hover {
    color: #ECF3F7;
}

button {
    color: #ECF3F7;
}